html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-color: #f1f1f1;
  --mainFont: "IRANSansWeb", Tahoma, Verdana, sans-serif;
  --mainbackground: white;
  padding: 0px;
}

#geTopDiv {
  background-color: #0091ea;
  height: 50px;
  width: 100%;
  color: white;
  font: 19px var(--mainFont);
  padding-right: 20px;
}
/**/
#geToolbar {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  height: 40px;
  border: 1px solid #ccc;
}

#geSidebar {
  background-color: var(--mainbackground);
  font: 1rem, var(--mainFont);
  margin: 0px 0px 0px 50px;
  border: 1px solid #ccc;
}

#RightPanel {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-right: 20px;
  padding-left: 5px;
  height: 857px;
  overflow: hidden;
}

#PanelId {
  overflow: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  border: 1px solid #ccc;
  margin: 5px 5px 0px 5px;
  padding: 0px 10px 10px 10px;
  height: 300px;
}
::placeholder {
  font: 10px var(--mainFont);
}
#PanelPropId {
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
}

#geContent {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  height: 857px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
}

#geFooter {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  border: 1px solid #ccc;
}

.divHeader {
  height: 45px;
  border: 1px solid #ccc;
  margin-top: 5px;
  text-align: center;
  align-self: center;
  justify-self: center;
  background: linear-gradient(#0091ea, #2e4681);
  background-color: #2e4681;
  color: white;
  font: 16px var(--mainFont);
  border-radius: 4px;
  padding: 5px;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* 
.headerDiv {
  color: black;
  font: 1rem var(--mainFont);
  font-weight: bold;
  margin: 10px;
} */
.textcontent {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font: 14px var(--mainFont);
  resize: horizontal;
  max-width: 800px;
  min-width: 200px;
  overflow: auto;
  cursor: move;
  padding-top: 7px;
}
.rowContent {
  margin-bottom: 2rem;
}

.PanelTxt {
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font-family: var(--mainFont);
  font-size: 14px;
}

#textarea {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}
#textlbl {
  width: 11rem;
  resize: horizontal;
  height: 30px;
  font-size: 0.9rem;
  margin: 0px 5px 10px 0px;
  border: 1px solid #ccc;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(180, 194, 209);
  border-radius: 4px;
  width: 14%;
  margin-right: 10px;
}

.dropdown {
  background-color: #f9f9f9;
  font: 1rem var(--mainFont);
  min-width: 160px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin: 10px;
  cursor: move;
  overflow: auto;
}

input[type=number] {
  width: 80px;
  height: 25px;
  font: 14px var(--mainFont);
  margin: 10px 15px 10px 0px;
}
#lblAfrerDrag {
  margin: 12px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
}

#radioAfterDrag,
#checkAferDrag {
  margin: 12px 10px 0px 5px;
}

br {
  margin: 20px;
}

#hider {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1600px;
  height: 2000px;
  margin-top: -800px; /*set to a negative number 1/2 of your height*/
  margin-left: -500px; /*set to a negative number 1/2 of your width*/
  /*
        z- index must be lower than pop up box
       */
  z-index: 99;
  background-color: Black;
  opacity: 0.6;
}

#popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em; /*set to a negative number 1/2 of your height*/
  margin-left: -5em; /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  border: 2px solid black;
  z-index: 100;
  background-color: red;
}

.Textbox {
  left: 0px;
  position: absolute;
}
.selectBox {
  height: 30px;
  width: 200px;
  margin: 0px;
  font-size: inherit;
  border: 1px solid #ccc;
  background-color: #efefef;
  cursor: pointer;
}
.lbl {
  font: 14px var(--mainFont);
  align-self: center;
  justify-self: right;
}

/* modal form css */
.modal {
  display: none; /* Hidden by default */
  /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  /* width: 80%; */
  background-color: #fff;
  overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.fit-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#ToolsProp {
  overflow: auto;
  display: grid;
  grid-template:
    "a a a" 60px
    "c c c" 60px;
  border: 1px solid #ccc;
  margin: 5px 5px 10px 5px;
  padding: 0px 10px 10px 10px;
  height: 427px;
}
.ToolsIcon {
  align-self: right;
  justify-self: right;
  margin: 10px;
}
.ToolsLbl {
  align-self: center;
  justify-self: right;
  cursor: pointer;
  margin: 10px;
}

 .slider {
  
  /* top: 40%; */
  /* transform: rotate(90deg);*/
  width: 0px; 
  
  
height: 20px;
 }  
input[type=range] {
  position: relative;
 
  
  top: -75px;
  right: -90px;
  
  transform: rotate(90deg)
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 18px;
  width: 29px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 18px;
  width: 29px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 14px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 18px;
  width: 29px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}